<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Insurance.Properties.Settings.DocExchangeConnectionString" connectionString="Data Source=192.168.0.112;Initial Catalog=DocExchange;User ID=sa;Password=Gbljh:100" providerName="System.Data.SqlClient" />
    <add name="Insurance.Properties.Settings.FIASConnectionString" connectionString="Data Source=srv02node;Initial Catalog=FIAS;User ID=sa;Password=Gbljh:100" providerName="System.Data.SqlClient" />
    <add name="Insurance.Properties.Settings.srz_miniConnectionString" connectionString="Data Source=192.168.0.112;Initial Catalog=srz_mini;User ID=sa;Password=Gbljh:100" />
    <add name="Insurance.Properties.Settings.srzConnectionString" connectionString="Data Source=11.0.0.119; Initial Catalog=SRZ;User ID=svm; Password=NeyPfrIth" />
  <add name="Insuranse" connectionString="data source=srv02node;initial catalog=FIAS_NEW;user id=sa;password=Gbljh:100;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016White</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FastReport" publicKeyToken="db7e5ce63278458c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.4.15.0" newVersion="2018.4.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FastReport.Bars" publicKeyToken="db7e5ce63278458c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.4.15.0" newVersion="2018.4.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>